
<div class="container-scroll-parent">
    <div class="wrapper wrapper-content animated fadeInRight boardBox">

          
                <div class="topic-box">
                    <div class="ibox taskBox">
                        <div class="ibox-content">
                            <div class="boardTitle">
                                <h3>To-do Simply dummy text of the printing and typesetting industry.</h3>
                                <div class="boardTitleFuction">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                </div>
                            </div>

                            

                            <div class="input-group add-new-task">
                                <input type="text" placeholder="Add new task ... " class="input input-sm form-control">
                                <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-white"><i class="fa fa-plus"></i></button>
                                </span>
                            </div>

                            <ul class="sortable-list connectList agile-list" id="todo">

                                <li class="warning-element" id="task1">
                                    Simply dummy text of the printing and typesetting industry.
                                    <div class="agile-detail">
                                        <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                        <a href="#" class="pull-right btn btn-xs btn-white">Tag</a>
                                        <i class="fa fa-clock-o"></i> 12.10.2015
                                    </div>
                                </li>
                                <li class="success-element" id="task2">
                                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their default.
                                    <div class="agile-detail">
                                        <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                        <i class="fa fa-clock-o"></i> 05.04.2015
                                    </div>
                                </li>
                                <li class="info-element" id="task3">
                                    Sometimes by accident, sometimes on purpose (injected humour and the like).
                                    <div class="agile-detail">
                                        <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                        <i class="fa fa-clock-o"></i> 16.11.2015
                                    </div>
                                </li>
                                <li class="danger-element" id="task4">
                                    All the Lorem Ipsum generators
                                    <div class="agile-detail">
                                        <a href="#" class="pull-right btn btn-xs btn-primary">Done</a>
                                        <i class="fa fa-clock-o"></i> 06.10.2015
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="topic-box">
                    <div class="ibox taskBox">
                        <div class="ibox-content">
                            <h3>In Progress</h3>

                            <div class="input-group add-new-task">
                                <input type="text" placeholder="Add new task. " class="input input-sm form-control">
                                <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-plus"></i></button>
                                </span>
                            </div>

                            <ul class="sortable-list connectList agile-list" id="inprogress1">
                                
                            </ul>

                        </div>
                    </div>
                </div>

               
                <div class="topic-box">
                    <div class="ibox taskBox">
                        <div class="ibox-content">
                            <h3>In Progress</h3>

                            <div class="input-group add-new-task">
                                <input type="text" placeholder="Add new task. " class="input input-sm form-control">
                                <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-plus"></i></button>
                                </span>
                            </div>

                            <ul class="sortable-list connectList agile-list" id="inprogress">
                                <li class="info-element" id="task16">
                                    Sometimes by accident, sometimes on purpose (injected humour and the like).
                                    <div class="agile-detail">
                                        <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                        <i class="fa fa-clock-o"></i> 16.11.2015
                                    </div>
                                </li>
                                <li class="warning-element" id="task17">
                                    Ut porttitor augue non sapien mollis accumsan.
                                    Nulla non elit eget lacus elementum viverra.
                                    <div class="agile-detail">
                                        <a href="#" class="pull-right btn btn-xs btn-white">Tag</a>
                                        <i class="fa fa-clock-o"></i> 09.12.2015
                                    </div>
                                </li>

                                 <li class="warning-element" id="task17">
                                    Ut porttitor augue non sapien mollis accumsan.
                                    Nulla non elit eget lacus elementum viverra.
                                    Ut porttitor augue non sapien mollis accumsan.
                                    Nulla non elit eget lacus elementum viverra.
                                    Ut porttitor augue non sapien mollis accumsan.
                                    Nulla non elit eget lacus elementum viverra.
                                    <div class="agile-detail">
                                        <a href="#" class="pull-right btn btn-xs btn-white">Tag</a>
                                        <i class="fa fa-clock-o"></i> 09.12.2015
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>


                <div class="topic-box">
                    <div class="ibox taskBox">
                        <div class="ibox-content">
                            <h3>Completed</h3>

                            <div class="input-group add-new-task">
                                <input type="text" placeholder="Add new task. " class="input input-sm form-control">
                                <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-plus"></i></button>
                                </span>
                            </div>

                            <ul class="sortable-list connectList agile-list" id="completed">
                                <li class="info-element" id="task16">
                                    Sometimes by accident, sometimes on purpose (injected humour and the like).
                                    <div class="agile-detail">
                                        <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                        <i class="fa fa-clock-o"></i> 16.11.2015
                                    </div>
                                </li>
                                <li class="warning-element" id="task17">
                                    Ut porttitor augue non sapien mollis accumsan.
                                    Nulla non elit eget lacus elementum viverra.
                                    <div class="agile-detail">
                                        <a href="#" class="pull-right btn btn-xs btn-white">Tag</a>
                                        <i class="fa fa-clock-o"></i> 09.12.2015
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="topic-box">
                    <div class="ibox taskBox">
                        <div class="ibox-content">
                            <div class="input-group">
                                <input type="text" placeholder="Add new list ..." class="input input-sm form-control">
                                <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-plus"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

    </div>
</div>   
