
<div class="container-scroll-parent">
    <div class="wrapper wrapper-content animated fadeInRight boardBox">
   

                <div class="topic-box" *ngFor="let itemBoard of lstBoard">
                    <div class="ibox taskBox">
                        <div class="ibox-content">
                            <div class="boardTitle">
                                <textarea maxlength="200" rows='1' class="editable-textarea" (keydown.enter)="textArea_keydown($event)" [(ngModel)]="itemBoard.boardNm">{{itemBoard.boardNm}}</textarea>
                                <div class="boardTitleFuction">
                                    <a class="btn btn-xs btn-white btn-bitbucket"><i class="fa fa-ellipsis-v"></i></a>
                                </div>
                            </div>
                            <div class="input-group add-new-task">
                                <input type="text" placeholder="Add new task ... " class="input input-sm form-control" (keyup.enter)="addNewTask_enter($event,itemBoard.boardId)" [id]="itemBoard.boardId">
                                <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-white" (click)="addNewTask_click(itemBoard.boardId)"><i class="fa fa-plus"></i></button>
                                </span>
                            </div>
                            <ul class="sortable-list connectList agile-list" id="todo" *ngFor="let itemTask of lstTask">

                                <li [ngClass]="{'warning-element': itemTask.taskStt == 'In Process', 'success-element': itemTask.taskStt == 'Complete'}" *ngIf="itemTask.boardId == itemBoard.boardId"  id="{{itemTask.taskId}}">
                                    
                                    {{itemTask.taskNm}}
                                    <div class="agile-detail">
                                        <a href="#" class="pull-right btn btn-xs " [ngClass]="{'btn-white': itemTask.taskStt == 'In Process', 'btn-primary': itemTask.taskStt == 'Complete'}">{{itemTask.taskStt}}</a>
                                        <i class="fa fa-clock-o"></i> {{itemTask.updatedAt | date:'dd-MM-yyyy mm:ss'}}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                


        <!--<div class="topic-box">
                    <div class="ibox taskBox">
                        <div class="ibox-content">
                            <div class="boardTitle">
                                <textarea maxlength="200" rows='1' class="editable-textarea" (keydown.enter)="textArea_keydown($event)">To-do Simply dummy text of the printing and typesetting industry.</textarea>
                                <div class="boardTitleFuction">
                                    <a class="btn btn-xs btn-white btn-bitbucket"><i class="fa fa-ellipsis-v"></i></a>
                                </div>
                            </div>

                            
                            <div class="input-group add-new-task">
                                <input type="text" placeholder="Add new task ... " class="input input-sm form-control">
                                <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-white"><i class="fa fa-plus"></i></button>
                                </span>
                            </div>

                            <ul class="sortable-list connectList agile-list" id="todo">

                                <li class="warning-element" id="task1">
                                    Simply dummy text of the printing and typesetting industry.
                                    <div class="agile-detail">
                                        <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                        <a href="#" class="pull-right btn btn-xs btn-white">Tag</a>
                                        <i class="fa fa-clock-o"></i> 12.10.2015
                                    </div>
                                </li>
                                <li class="success-element" id="task2">
                                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their default.
                                    <div class="agile-detail">
                                        <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                        <i class="fa fa-clock-o"></i> 05.04.2015
                                    </div>
                                </li>
                                <li class="info-element" id="task3">
                                    Sometimes by accident, sometimes on purpose (injected humour and the like).
                                    <div class="agile-detail">
                                        <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                        <i class="fa fa-clock-o"></i> 16.11.2015
                                    </div>
                                </li>
                                <li class="danger-element" id="task4">
                                    All the Lorem Ipsum generators
                                    <div class="agile-detail">
                                        <a href="#" class="pull-right btn btn-xs btn-primary">Done</a>
                                        <i class="fa fa-clock-o"></i> 06.10.2015
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>-->

                <div class="topic-box">
                    <div class="ibox taskBox">
                        <div class="ibox-content">
                            <div class="input-group">
                                <input type="text" placeholder="Add new list ..." class="input input-sm form-control" (keyup.enter)="addNewBoard_enter($event)" id="txtBoardNm">
                                <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-white" (click)="addNewBoard_click()"> <i class="fa fa-plus"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>   
