

        .container-scroll-parent {
            height: calc(100vh - 70px);
            white-space: nowrap;

            position: absolute;
            top: 60px;
            left: 0;
            right: 0;
            overflow-y: auto;
            overflow-x: auto;
        }


        .topic-box {
            width: 400px;
            margin: 0 5px;
            height: 100%;
            box-sizing: border-box;
            display: inline-block;
            vertical-align: top;
        }

        .sortable-list.connectList.agile-list {
            white-space: normal;
            max-height: calc(100vh - 283px - 51px); /* navTop 60px +  Boardbox 40px; - 51px is heigh of title Board*/
            overflow: auto;
            padding: 0 5px;
        }



        .ibox-content {
                padding: 15px 20px 15px 20px !important;
        }

        .add-new-task {
                  padding: 0 5px 10px;
        }

        .wrapper.wrapper-content.animated.fadeInRight.boardBox {
            padding: 20px 10px 20px;
        }

        .ibox.taskBox {
            margin-bottom: 0px;
        }


        /* Custom scroll bar */
        /* https://css-tricks.com/custom-scrollbars-in-webkit/ Backgroud colour : #f1f1f1*/
        .container-scroll-parent::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }
        /* Rall */
        .container-scroll-parent::-webkit-scrollbar-track-piece {
            background: rgba(0,0,0,.15);
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }
         
        /* thumb */
        .container-scroll-parent::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: #727b8c;
        }

        /* Forcus out the wed */
        .container-scroll-parent::-webkit-scrollbar-thumb:window-inactive {
            background: #727b8c;
        }

        .container-scroll-parent::-webkit-scrollbar-button {
            display: block;
            height: 8px;
            width: 8px;
        }

        

        .sortable-list.connectList.agile-list::-webkit-scrollbar {
            width: 5px;
            padding-left: 20px;
        }
        /* Rall */
        .sortable-list.connectList.agile-list::-webkit-scrollbar-track-piece {
            background: rgba(0,0,0,.15);
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }
         
        /* thumb */
        .sortable-list.connectList.agile-list::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: #727b8c;
        }

        /* Forcus out the wed */
        .sortable-list.connectList.agile-list::-webkit-scrollbar-thumb:window-inactive {
            background: #727b8c;
        }

        /* Title Board*/
        .boardTitle {
            padding: 0 5px;
            position: relative;
        }

        .boardTitle > h3 {
            max-width: 70%;
            white-space: normal;
        }

        .boardTitleFuction {
            position: absolute;
            top: 5px;
            right: 5px;
        }


textarea{  
  display:block;
  box-sizing: padding-box;
  overflow:hidden;
  resize: none;
  /*padding:10px;*/
  font-weight: 600;
  width:330px;
  font-size:16px;
  border:0;
  margin-bottom: 10px;
}

textarea:focus {
  outline-width: 2px;
      background-color: #f3f3f4;
}