<div class="cus-bg animated fadeInRight navTop">

     <ul class="nav navbar-top-links navbar-right">
    
                <li><a routerLink="/task" routerLinkActive="active">Link 1</a></li>
                <li><a routerLink="/task2" routerLinkActive="active">Link 2</a></li>

                <li>
                    <a href="login.html">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>

   </ul>
</div>  

<router-outlet></router-outlet>
