/*textarea {
    margin-top: 5px;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.1;
    color: inherit;
    font-family: inherit;
}*/

textarea{  
  display:block;
  box-sizing: padding-box;
  overflow:hidden;
  resize: none;
  padding:10px;
  font-weight: 600;
  width:250px;
  font-size:16px;
  border-radius:6px;
  box-shadow:2px 2px 8px rgba(0,0,0,.3);
  border:0;
}