
<div class="container-scroll-parent">
    <div class="wrapper wrapper-content animated fadeInRight"> 
      

            <div class="ui-widget">
                <label for="tags">Tags: </label>
                <input id="tags">
            </div>

            <br/>
            <div>
                <h3>To-do Simply dummy text of the printing and typesetting industry.</h3>
                <textarea class='autoExpand' rows='1' data-min-rows='1' >
                    To-do Simply dummy text of the printing and typesetting industry.
                </textarea>
            </div>
            <br/>
            <textarea maxlength="200" rows='1' id="textDemo">To-do Simply dummy text of the printing and typesetting industry.</textarea>

            <br/>
            <hr>
            <div id="search-component">
            <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
            <div>
                <div *ngFor="let hero of lstTaskMatch | async"
                    class="search-result" >
                    {{hero.taskNm}}
                </div>
            </div>
            </div>
    </div>
</div>