
<div class="container-scroll-parent">
    <div class="wrapper wrapper-content animated fadeInRight"> 
      

            <div class="ui-widget">
                <label for="tags">Tags: </label>
                <input id="tags">
            </div>

            <br/>
            <div>
                <h3>To-do Simply dummy text of the printing and typesetting industry.</h3>
                <textarea class='autoExpand' rows='1' data-min-rows='1' >
                    To-do Simply dummy text of the printing and typesetting industry.
                </textarea>
            </div>

            <textarea id="textDemo">
                    To-do Simply dummy text of the printing and typesetting industry.
                </textarea>
    </div>
</div>